body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .bar {
    padding-inline: 5rem;
  }

}
@media screen and (max-width: 800px) {
  .page {
    padding: 1rem;
  }
}

/* Heading */
.bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(255, 220, 0);
}

.bar__image {
  width: 6rem;
}
.bar__left {
  display: flex;
  flex-direction: column;
}

.bar__icon {
  display: flex;
  margin-block-start: 1rem;
}

.left__studie {
  padding-block: 1.5rem;
  margin-inline-start: 2rem;
}

.icon__search {
  margin-inline-end: 1.5rem;
}

/* Slutt av heading */

/* Start av hovedsiden */
.page__image {
  width: 100%;
}

.page__table {
  width: 100%;
}
.page__table tr {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-block: 2rem 1rem;
}

.page__table th,
.page__table td {
  line-height: 1;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}

/* Slutt av hovedsiden */

/* Styling */
.bar__icon--style {
  font-size: 1.3rem;
  font-weight: 700;
}

.left__studie--style {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}

.main__title {
margin-left: 5rem;
}
.head__img {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 200px);
gap: 15px;
float: right;
position: relative;
margin-right: 5rem;
}

.head__img img {
object-fit: cover;
width: 100%;
height: 100%;
transition: transform 0.3s ease;
}

.head__img img:hover {
transform: scale(1.1);
}

.twoboxes {
grid-column: span 2;
}

.top__page {
background-image: url(../image/Bakgrunn_topp.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 500px;
width: 100%;
}

.page__aboutproject {
text-align: left;
width: 100%; 
min-width: 40rem;
max-width: 40rem; 
padding: 30px;
font-size: 1.2rem;
}

