body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 800px) {
  .bar {
    padding-inline: 5rem;
  }
  .page {
    margin-block-start: 3rem;
    margin-inline: 4rem;
  }
  .bottom {
    padding-inline: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .page {
    padding: 1rem;
  }
  .bottom {
    padding-inline: 1rem;
  }
  .bottom__page {
    display: flex;
    flex-direction: column;
  }
}

/* Heading */
.bar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgb(255, 220, 0);
}

.bar__image {
  width: 6rem;
}
.bar__left {
  display: flex;
  flex-direction: column;
}

.bar__icon {
  display: flex;
  margin-block-start: 1rem;
}

.left__studie {
  padding-block: 1.5rem;
  margin-inline-start: 2rem;
}

.icon__search {
  margin-inline-end: 1.5rem;
}

/* Slutt av heading */

/* Start av hovedsiden */
.page {
  border: 1px solid black;
}

.page__image {
  width: 100%;
}

.page__table {
  width: 100%;
}
.page__table tr {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid black;
  padding-block: 2rem 1rem;
}

.page__table th,
.page__table td {
  line-height: 1;
  font-size: 1.2rem;
  text-align: left;
  width: 100%;
}

/* Slutt av hovedsiden */

/* Footer */

.bottom {
  background-color: rgb(255, 220, 0);
  padding-inline: 1rem;
}

.bottom__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid black;
}
.bottom__upper h2 {
  background-color: black;
  color: white;
  padding: 1rem;
}

.bottom__page {
  display: flex;
  justify-content: space-evenly;
}

.bottom__tableLeft,
.bottom__tableMiddle,
.bottom__tableRight {
  max-width: fit-content;
  text-align: left;
}

.bottom__tableLeft tr {
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
}

.bottom__tableMiddle th,
.bottom__tableRight th {
  display: flex;
  flex-direction: column;
}

/* Icons  */
.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  width: 50px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}

/* Slutten av footer */

/* Styling */
.bar__icon--style {
  font-size: 1.3rem;
  font-weight: 700;
}

.left__studie--style {
  color: black;
  font-size: 1.2rem;
  font-weight: 700;
}
